.fixed-bottom {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.flash-alert {
    min-width: 300px;
    height: 53px;
    text-align: center;
    padding: 15px;
    top: 700px;
    left: 557px;
    position: fixed;
    bottom: 0;
    margin: auto;
    border-radius: 10px 10px 0px 10px;
}
