.fixed-bottom {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    width: 500px;
    position: fixed !important;
}

.flash-alert {
    min-width: 300px;
    text-align: left;
    padding: 15px;
    bottom: 7%;
    left: 65% !important;
    margin: auto;
    border-radius: 10px 10px 0px 10px;
}
