.footer {
    position: fixed;
    bottom: 0 !important;
    width: 100% !important;
}

.secondary {
    max-width: 700px;
    margin-top: 10% !important;
}

.mp-4 {
    width: 30% !important;
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    border-radius: 16px;
    margin-top: 3%;
    padding: 2%;
}

.block-link {
    min-width: 300px;
    height: 7.5% !important;
    text-align: center;
    padding: 15px;
    top: 40px;
    left: 568px;
    position: fixed;
    bottom: 0;
    margin: auto;
    border-radius: var(--bs-alert-border-radius);
}

.block-link:hover {
    border: 1px solid #015ce4;
    background-color: #b6d2fc;
}

.img {
    margin-right: 10px;
}

.id {
    width: 30px;
}
