<div class="container secondary">
  <div class="alert alert-success" role="alert">
      <h3>Hello!</h3>
      <hr>
      <p class="text-shadow">Explore Xero accounting software and its tools for small businesses, accountants, and bookkeepers.</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
