<div class="container secondary">
    <div class="alert alert-success" role="alert">
        <h3>Hello!</h3>
        <hr>
        <p class="text-shadow">Create or sign in an account.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
