<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Xero Service", root_path, class: "navbar-brand home-link left-margin" %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
